@using ContentSync.Models
@using Tad.ContentSync.Models
@{
    Style.Require("jQueryUI_Orchard").AtHead();
    Script.Require("jQueryUI_Dialog").AtHead();
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#inspect').dialog({ autoOpen: false, modal: true, width: 800, height: 600 });
        $('.show-inspect').click(function (element) {
            var html = $(element.target).parent().children('.inspect-source').html();
            $('#inspect').html(html);
            $('#inspect').dialog("open");
            return false;
        });
    })
</script>

<style>
    contentItems a { font-size: 10pt;}
    div.map-container{ float: left;width: 100%;margin-bottom: 4px;}
    table.diff{ width: 100%;}
    .type-0 td { border-color: greenyellow;}
    .type-1 td { border-color: yellow;}
    .type-2 td { border-color: lightcoral;}
    td.left{ border-width: 1px 0px 1px 1px;border-style: solid;}
    td.middle{ border-width: 1px 0px 1px 0px;border-style: solid;text-align: center;}
    td.right{ border-width: 1px 1px 1px 0px;border-style: solid;}
    th{ font-weight: bold;font-size: 1.4em;text-align: center;}
</style>

<div id="inspect"></div>

@using (Html.BeginForm("Synchronise", "ContentSync", FormMethod.Post))
{
    @Html.AntiForgeryTokenOrchard()
    <input type="hidden" name="remote" value="@Request.QueryString["remote"]"/>
    <input type="submit" value="Synchronise Now"/>
    <fieldset class="contentItems bulk-items" style="font-size: 10pt">
        <table class="diff">
            <thead>
                <tr>
                    <th class="left">Local</th>
                    <th class="middle">State</th>
                    <th class="right">Remote</th>
                </tr>
            </thead>
            <tbody>
                
        @foreach (var syncMap in Model) {
            var model = syncMap as ContentSyncMap;
            Html.RenderPartial("SyncMap", model);
        }
            </tbody>
        </table>
    </fieldset>
}