@using (Html.BeginForm("Prepare", "IdentitySync", FormMethod.Get)) {
    <div><input type="text" name="remote" /> Remote Orchard instance url e.g: http://www.myorchardsite.com</div>
    <br/>
    <input type="submit" value="Compare with Remote"/>
}